@using Club.Domain.Artifacts
@using Club.Domain.Queries
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@model TypedModel<UserQry>
@{
  ViewBag.Title = "Select Team Administrator";
  //Layout = "~/Views/Shared/_Layout.cshtml";
  string personControlId = ViewBag.UserControlId;
  string teamOid = ViewBag.TeamOid;
}
@Html.Hidden("UserControlId", personControlId)
@Html.Hidden("TeamOid", teamOid)
@Html.Hidden("SaveTeamAdminUserUrl", Url.Action("SelectTeamAdminUser", "User"))

<div>
  @(Html.Kendo().PanelBar()
  .Name("pnlbPersonS")
  .ExpandMode(PanelBarExpandMode.Multiple)
  .HtmlAttributes(new { style = "width:100%" })
  .Items(panelbar =>
  {
    panelbar.Add().Text("User Search Criteria")
        .ImageUrl(Url.Content("~/Images/24px/view.png"))
        .Expanded(true)
        .LinkHtmlAttributes(new { @class = "dfw-ignoreDirtyLink" })
        .Content(@<div>
          @Html.Partial("~/Views/User/SearchCriteria.cshtml")
        </div>);
  })
  )
</div>
<br />
<div id="listContent">
  @(Html.Kendo().PanelBar()
  .Name("pnlbPersonL")
  .ExpandMode(PanelBarExpandMode.Multiple)
  .HtmlAttributes(new { style = "width:100%" })
  .Items(panelbar =>
  {
    panelbar.Add().Text("User Results")
      .ImageUrl(Url.Content("~/Images/24px/scroll_view.png"))
      .Expanded(true)
      .LinkHtmlAttributes(new { @class = "dfw-ignoreDirtyLink" })
      .Content(@<div id="dPersonResults">
        @Html.Partial("~/Views/User/SearchResults.cshtml")
      </div>
      );
  })
  )
</div>

