@using Club.Domain.Artifacts
@using Club.Services.Utils
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@using Mallon.Core.Artifacts
@model TypedModel<CommitteeMemberType>

<script type="text/javascript">
  $(document).ready(function () {
    var val = $("#TimeType").val();
    timeType(val);
  });

  function onChangeTimeType(e) {
    var val = $("#TimeType").val();
    timeType(val);
  }

  function timeType(val) {
    if (val == 'Year') {
      $(".timeTypeYear").show();
      $(".timeTypeDate").hide();
    }
    else {
      $(".timeTypeYear").hide();
      $(".timeTypeDate").show();
    }
  }
</script>

@Html.HiddenFor(Model.GetProperty(x => x.Oid))
@Html.Hidden("controller", Model.ExtraFields["controller"])
<table class="tbl2Cols">
  <tr>
    <h4>Membership Type Details</h4>
  </tr>

  <tr>
    @Html.CheckBoxFor(Model.GetProperty(m => m.Active), new { @lblSecond = "false" })
  </tr>

  <tr>
    @Html.TextBoxFor(Model.GetProperty(x => x.Name), new { @style = "width:75%;" })
  </tr>

  <tr>
    @Html.TextBoxFor(Model.GetProperty(x => x.Description), new { @style = "width:75%;",@rows = "3" })
  </tr>

  <tr>
    @Html.CheckBoxFor(Model.GetProperty(m => m.Default), new { @lblSecond = "false" })
  </tr>
</table>


