@using Club.Domain.Artifacts
@using Club.Domain.Queries
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@model TypedModel<PersonQry>
@functions{
string ctrlId = System.Guid.NewGuid().ToString();
string msgTableHelp = "<p>All Person details can be searched here.</p><p>You should always search for a Person before creating a New Person to avoid creating duplicates.</p><p>You can add the following to a Person:</p><ul><li>Memberships</li><li>Qualifications</li><li>Lotto Direct Debits</li></ul>";
}
<script type="text/javascript">
  function getPersonSearchParams() {
    return searchGetParams("searchCriteria@(ctrlId)");
  }
</script>

<div class="table-responsive">
  <table id="searchCriteria@(ctrlId)" style="width: 100%; margin-bottom: 5px;" class="tbl4Cols">
    <tr>
      <td>
        @Html.Partial("~/Views/Shared/Hint.cshtml", msgTableHelp, new ViewDataDictionary { { "ImageSize", "32px" } })
      </td>
    </tr>
    <tr>
      @Html.TextBoxFor(Model.GetProperty(m => m.aq_Forename), new { @class = "k-textbox", @style = "width:90%" })

      @Html.TextBoxFor(Model.GetProperty(m => m.aq_Surname), new { @class = "k-textbox", @style = "width:90%" })
    </tr>

    <tr>
      @Html.TextBoxFor(Model.GetProperty(m => m.aq_Address), new { @class = "k-textbox", @style = "width:90%" })

      @Html.TextBoxFor(Model.GetProperty(m => m.aq_Postcode), new { @class = "k-textbox", @style = "width:90%" })
    </tr>

    <tr>
      @Html.DateFor(Model.GetProperty(m => m.aq_DobFrom), new { @style = "width:90%" })

      @Html.DateFor(Model.GetProperty(m => m.aq_DobTo), new { @style = "width:90%" })
    </tr>
    <tr>
    @Html.DropDownListFor(Model.GetProperty(m => m.MaxRecords, new Mallon.Core.Web.Models.ModelCtrlComboBoxOptions((SelectList)ViewBag.MaxRecords, Model.Entity.MaxRecords, null)), new { @style = "width:90%" })
  </tr>
  <tr>
      <td></td>
    <td colspan="3">
      <div id="searchWrapper" class="float-right" style="display: inline-block">
        <input type="submit" value="Go" class="k-button" id="btnSearchGo" style="width: auto; padding-top: 2px; padding-bottom: 2px;" onclick="searchBeginSearch()" />
        <input type="button" value="Clear" class="k-button" id="btnSearchClear" onclick="searchClearSearch('searchCriteria@(ctrlId)')" style="width: auto; padding-top: 2px; padding-bottom: 2px;" />

        <a href="@Url.Action("Create", "Person")" title="Create a new Person" class="k-button" target='_blank'>
          <img alt="New Person" src="@Url.Content("~/Images/24px/add.png")">
          New Person
        </a>

      </div>
    </td>
    </tr>
  </table>
  </div>
