@using Club.Domain.Artifacts
@using Club.Domain.Queries
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@model TypedModel<PersonQry>
@{
  ViewBag.Title = "Select Person";
  //Layout = "~/Views/Shared/_Layout.cshtml";
  string personControlId = ViewBag.PersonControlId;
  string personOid = ViewBag.PersonOid;
}
@Html.Hidden("PersonControlId", personControlId)
@Html.Hidden("PersonOid", personOid)
@Html.Hidden("SaveGuardianUrl", Url.Action("SelectGuardian", "Person"))


<div>
  @(Html.Kendo().PanelBar()
  .Name("pnlbPersonS")
  .ExpandMode(PanelBarExpandMode.Multiple)
  .HtmlAttributes(new { style = "width:100%" })
  .Items(panelbar =>
  {
    panelbar.Add().Text("Person Search Criteria")
        .ImageUrl(Url.Content("~/Images/24px/view.png"))
        .Expanded(true)
        .LinkHtmlAttributes(new { @class = "dfw-ignoreDirtyLink" })
        .Content(@<div>
          @Html.Partial("~/Views/Person/SearchCriteria.cshtml")
        </div>);
  })
  )
</div>
<br />
<div id="listContent">
  @(Html.Kendo().PanelBar()
  .Name("pnlbPersonL")
  .ExpandMode(PanelBarExpandMode.Multiple)
  .HtmlAttributes(new { style = "width:100%" })
  .Items(panelbar =>
  {
    panelbar.Add().Text("Person Results")
      .ImageUrl(Url.Content("~/Images/24px/scroll_view.png"))
      .Expanded(true)
      .LinkHtmlAttributes(new { @class = "dfw-ignoreDirtyLink" })
      .Content(@<div id="dPersonResults">
        @Html.Partial("~/Views/Person/SearchResults.cshtml")
      </div>
      );
  })
  )
</div>

