@{
  ViewBag.Title = "Home Page";
  string userMsg = ViewBag.UserMessage;
  SelectList committees = null;
  bool userCanAddLottoResults = false;
  if (ViewBag.Committees != null)
  {
    committees = ViewBag.Committees as SelectList;
  }

  SelectList teams = null;
  if (ViewBag.Teams != null)
  {
    teams = ViewBag.Teams as SelectList;
  }

  SelectList membershipTypes = null;
  if (ViewBag.MembershipTypes != null)
  {
    membershipTypes = ViewBag.MembershipTypes as SelectList;
  }

  if (ViewBag.UserCanAddLottoResults != null)
  {
    userCanAddLottoResults = (bool)ViewBag.UserCanAddLottoResults;
  }

  SelectList lottoDrawsWithoutResults = null;
  if (ViewBag.LottoDrawsWithoutResults != null)
  {
    lottoDrawsWithoutResults= ViewBag.LottoDrawsWithoutResults as SelectList;
  }
  
  
  bool bUserCanEditQualifications = false;
  if (ViewBag.UserCanEditQualifications != null)
  {
    bUserCanEditQualifications = (bool)ViewBag.UserCanEditQualifications;
  }
}
<script>
  function addCommitteMinutes(e) {
    var committeeOid = $("#committees").data("kendoDropDownList").value();
    if (isStringValueEmpty(committeeOid) == true) {
      showError("Please select a Committee");
      return;
    }
    var url = '@Url.Action("CommitteeMinuteCreate", "Committee")?committeeOid=' + committeeOid;
    window.location = url;
  }

  function addPersonMembership(e) {
    var membershipTypeOid = $("#membershipTypes").data("kendoDropDownList").value();
    if (isStringValueEmpty(membershipTypeOid) == true) {
      showError("Please select a Membership Type.");
      return;
    }
    var url = '@Url.Action("AddPersonMembership", "Membership")?membershipTypeOid=' + membershipTypeOid;
    window.location = url;
  }

  function viewTeam(e) {
    var teamOid = $("#teams").data("kendoDropDownList").value();
    if (isStringValueEmpty(teamOid) == true) {
      showError("Please select a Team to View");
      return;
    }
    var url = '@Url.Action("Edit", "Team")?Oid=' + teamOid;
    window.location = url;
  }

  function addWeeklyLottoResult(e) {
    var url = '@Url.Action("CreateLottoResult", "Lotto")';
    window.location = url;
  }

  function addWeeklyLottoDraw(e) {
    var url = '@Url.Action("CreateLotto", "Lotto")';
    window.location = url;
  }

  function updateWeeklyLottoDraw(e){
    var lottoDrawOid = $("#lottoDrawsWithoutResults").data("kendoDropDownList").value();
    if (isStringValueEmpty(lottoDrawOid) == true) {
      showError("Please select a Lotto Draw to View");
      return;
    }
    var url = '@Url.Action("EditLotto", "Lotto")?Oid=' + lottoDrawOid;
    window.location = url;
  }

</script>

<style>
  .aSpace {
    margin: 0 0 15px 0;
  }
</style>

<hgroup class="title"></hgroup>
<div class="featured">
  <div class="content-wrapper">
    <p>
      <h3>@userMsg</h3>
    </p>
  </div>

  <div class="row">
    @if (userCanAddLottoResults)
    {
      <div class="col-md-6 col-sm-12">
        <h3>@Html.Partial("~/Views/Shared/Hint.cshtml", string.Format("You can configure Weekly Lotto Draws and Results for the current year ({0}) if you are a member of the Administration group.", DateTime.Now.Year.ToString()), new ViewDataDictionary { { "ImageSize", "32px" } }) Club Lotto</h3>
        <a href="javascript:addWeeklyLottoDraw();" class="k-button aSpace" style="width:80%">
          <span class="glyphicon glyphicon-plus"></span>
          Add New Weekly Lotto Draw
        </a>

        @if (lottoDrawsWithoutResults != null && lottoDrawsWithoutResults.Count() > 0)
        {
        <a href="javascript:updateWeeklyLottoDraw();" class="k-button" style="width:80%">
          <span class="glyphicon glyphicon-edit"></span>
          Update Weekly Lotto Draw
        </a>

        @(Html.Kendo().DropDownList().Name("lottoDrawsWithoutResults").BindTo(lottoDrawsWithoutResults).OptionLabel("Please select Lotto  Draw...").HtmlAttributes(new { @class = "aSpace", @style = "width:80%" }))
        }
      </div>
    }

    @if (committees != null && committees.Count() > 0)
    {
      <div class="col-md-6 col-sm-12">
        <h3>@Html.Partial("~/Views/Shared/Hint.cshtml", string.Format("You can configure Committee Minutes for the current year ({0}) if you are:<br/> 1. A member of the Administration group.<br/> 2. Have been added as an Admin of the relevant entity e.g. a Team Admin", DateTime.Now.Year.ToString()), new ViewDataDictionary { { "ImageSize", "32px" } }) Club Committees</h3>


        <a href="javascript:addCommitteMinutes();" class="k-button" style="width:80%">
          <span class="glyphicon glyphicon-plus"></span>
          Add Committee Minutes
        </a>

        @(Html.Kendo().DropDownList().Name("committees").BindTo(committees).OptionLabel("Please select Committee...").HtmlAttributes(new { @class = "aSpace", @style = "width:80%" }))
      </div>
    }

    @if (membershipTypes != null && membershipTypes.Count() > 0)
    {
      <div class="col-md-6 col-sm-12">
        <h3>@Html.Partial("~/Views/Shared/Hint.cshtml", string.Format("You can configure Club membership for the current year ({0}) if you are:<br/> 1. A member of the Administration group.", DateTime.Now.Year.ToString()), new ViewDataDictionary { { "ImageSize", "32px" } }) Club Membership</h3>
        <a href="javascript:addPersonMembership();" class="k-button" style="width:80%">
          <span class="glyphicon glyphicon-plus"></span>
          Add Person Membership
        </a>

        @(Html.Kendo().DropDownList().Name("membershipTypes").BindTo(membershipTypes).OptionLabel("Please select Membership Type...").HtmlAttributes(new { @class = "aSpace", @style = "width:80%" }))

      </div>
    }

    @if (teams != null && teams.Count() > 0)
    {
      <div class="col-md-6 col-sm-12">
        <h3>@Html.Partial("~/Views/Shared/Hint.cshtml", string.Format("You can configure Teams for the current year ({0}) if you are:<br/> 1. A member of the Administration group.<br/> 2. Have been added as an Admin of the relevant entity e.g. a Team Admin", DateTime.Now.Year.ToString()), new ViewDataDictionary { { "ImageSize", "32px" } }) My Teams</h3>


        <a href="javascript:viewTeam();" class="k-button" style="width:80%">
          <span class="glyphicon glyphicon-edit"></span>
          View Team
        </a>

        @(Html.Kendo().DropDownList().Name("teams").BindTo(teams).OptionLabel("Please select Team...").HtmlAttributes(new { @class = "aSpace", @style = "width:80%" }))
      </div>
    }


    <div class="col-md-6 col-sm-12">
      <h3>@Html.Partial("~/Views/Shared/Hint.cshtml", "Search various Club details here.", new ViewDataDictionary { { "ImageSize", "32px" } }) Searches</h3>



      <a href="@Url.Action("Search", "Membership")" class="k-button aSpace" style="width:80%">
        <span class="glyphicon glyphicon-search"></span>
        Search Club Membership
      </a>

      <a href="@Url.Action("Search", "Team")" class="k-button aSpace" style="width:80%">
        <span class="glyphicon glyphicon-search"></span>
        Search Teams
      </a>

      <a href="@Url.Action("Search", "CommitteeMinutes")" class="k-button aSpace" style="width:80%">
        <span class="glyphicon glyphicon-search"></span>
        Search Committee Minutes
      </a>

      <a href="@Url.Action("SearchPersonQualification", "Qualification")" class="k-button aSpace" style="width:80%">
        <span class="glyphicon glyphicon-search"></span>
        Search People with Qualifications
      </a>


      <a href="@Url.Action("Search", "Qualification")" class="k-button aSpace" style="width:80%">
        <span class="glyphicon glyphicon-search"></span>
        Search Qualifications
      </a>

    </div>

    <div class="col-md-6 col-sm-12">
      <h3>@Html.Partial("~/Views/Shared/Hint.cshtml", "You can view and edit Club Detail and other functionality here.", new ViewDataDictionary { { "ImageSize", "32px" } }) Other</h3>

      <a href="@Url.Action("Edit", "ClubDetails")" class="k-button aSpace" style="width:80%">
        <span class="glyphicon glyphicon-edit"></span>
        View Club Details
      </a>

    @if (bUserCanEditQualifications)
    { 
      <a href="@Url.Action("Create", "Qualification")" class="k-button aSpace" style="width:80%">
        <span class="glyphicon glyphicon-edit"></span>
        Add new Qualification
      </a>
    }
    </div></div>
</div>
