@using Club.Domain.Artifacts
@using Mallon.Core.Web.Models
@using Mallon.Core.Web.Models.HtmlExtensions
@using Club.Services.Utils
@using Club.Domain.Models
@model ModelTeamSheet
@{
  ViewBag.Title = "Create Team Sheet";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(false)
  <div>
    <div class="row">
      @Html.ActionLink("Back to Team", "Edit", "Team", new { oid = Model.TeamOid }, new { @class = "saveButtonRight k-button" })
      <input id="hiddenSubmit" type="submit" value="Save" class="saveButtonRight k-button" />
    </div>

    @Html.Partial("~/Views/Team/_TeamSheet.cshtml", Model)

    @Html.ActionLink("Back to Team", "Edit", "Team", new { oid = Model.TeamOid }, new { @class = "saveButtonRight k-button" })
    <input id="hiddenSubmit" type="submit" value="Save" class="saveButtonRight k-button" />
  </div>
}




